{{- $currentPage := . }}
	<nav class="navbar" aria-label="main navigation">
		<div class="container">
			<div class="navbar-brand">
				{{ if eq .Site.LanguageCode "ru" }}
				    <a id="en-lang" class="navbar-item" href="/en"><img alt="en" src="/img/en.png"></a> 
				{{ else }}
				    <a class="navbar-item" id="ru-lang" href="/"><img alt="ru" src="/img/ru.png"></a>
				{{ end }}
				<a class="navbar-item has-text-white-ter" href="{{ "/" | absLangURL }}">{{- partial "logo.html" . -}}</a>
				<div class="navbar-burger burger" data-target="navMenu">
				  <span></span>
				  <span></span>
				  <span></span>
				</div>
			</div>
			<div class="navbar-menu" id="navMenu">
				<div class="navbar-end">
				{{- range .Site.Menus.sectionmenu }}
					<a class="navbar-item {{if or ($currentPage.IsMenuCurrent "sectionmenu" .) ($currentPage.HasMenuCurrent "sectionmenu" .) }} is-active{{end}}" href='{{ "/" | absLangURL}}{{.URL}}'>{{ i18n .Name }}</a>
				{{ end }}
				</div>
			</div>
		</div>
	</nav>
