{{- if eq .Type "post" -}} 
	{{i18n "Posted"}} {{ partial "page-date.html" . -}}
	{{- with .Params.categories }} {{ i18n "in" }} {{ partial "page-categories.html" . }}{{ end }}
	{{- with .Params.tags }}; {{ i18n "tagged-with" }} {{ partial "page-tags.html" . }}{{ end }}
{{- end -}}

{{- if eq .Type "article" -}} 
	{{i18n "Posted"}} {{ partial "page-date.html" . -}}
	{{- with .Params.categories }} {{ i18n "in" }} {{ partial "page-categories.html" . }}{{ end }}
	{{- with .Params.tags }}; {{ i18n "tagged-with" }} {{ partial "page-tags.html" . }}{{ end }}
{{- end -}}
