<table>
<tbody>
<tr>
<td><img src="img/win_logo.png"/></td>
<td style="vertical-align:middle;"><a href="https://github.com/instead-hub/instead/releases/download/3.2.2/instead-3.2.2.exe">{{ i18n "instead-win" }}</a><br/>
<a href="https://github.com/instead-hub/instead/releases/download/3.2.2/instead-3.2.2.zip">{{ i18n "instead-win-zip" }}</a>
</td>
</tr>

<tr>
<td ><img src="img/ubuntu_logo.png"/></td>
<td style="vertical-align:middle;"><a href="https://launchpad.net/~gl00my/+archive/ubuntu/instead" target="blank">{{ i18n "instead-ubuntu" }}</a>
</td>
</tr>

<tr>
<td><img src="img/mac_logo.png"/></td>
<td style="vertical-align:middle;"><a href="https://github.com/instead-hub/instead/releases/download/3.2.2/Instead-3.2.2.dmg">{{ i18n "instead-osx" }}</a>
</td>
</tr>

<tr>
<td><img src="img/sources_logo.png"/></td>
<td style="vertical-align:middle;"><a href="https://github.com/instead-hub/instead/releases/download/3.2.2/instead_3.2.2.tar.gz">{{ i18n "instead-sources" }}</a>
</td>
</tr>

<tr>
<td></td>
<td style="vertical-align:middle;"><a href="https://github.com/instead-hub/instead/releases/tag/3.2.2" target="blank">{{ i18n "instead-others" }}</a>
</td>
</tr>

</tbody>
</table>
